.search {    
  margin: 10px 0;
    form {
        
        input[type=text] {
            border: none;
            width: 100%;
            height: 80px;
            padding: 5px;
            margin: 10px 0;
            font-size: 24px;
            font-weight: bold;
            background-color: $color1;
            color: $color2;
        }

        fieldset {
            overflow: hidden;
            border: none;
            max-width: 400px;
            margin: 0 auto;
          }
          
          
          label {
            float: left;
            clear: none;
            display: block;
            padding: 2px 1em 0 0;
            color: $color1;
          }
          
          input[type=radio] {
            float: left;
            clear: none;
            margin: 6px 2px 0 2px;
          }
    }

    &__results {
        position: fixed; /* Sit on top of the page content */
        width: 75%; /* Full width (cover the whole page) */
        height: 64%; /* Full height (cover the whole page) */
        margin: auto;
        overflow: auto;
        top: 260px; 
        left: 0;
        right: 0;
        color: $color2;
        background-color: rgba(232, 236, 241, 0.97); /* Black background with opacity */
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
        border-radius: 2px;


        &--hidden {
          display: none; /* Hidden by default */

        }


        &-button {
          z-index: 3;
          position: fixed;
          padding: 10px 0;         
          right: 14%;
          border: none;
          font-size: 30px;
          color: red;
        }

        &-tracks {
          margin-top: 50px;
        }

    }
}