@import 'styleguide';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    font-family: 'Roboto', sans-serif;
    font-size: $small-font;
    background-color: $color2;  
}

.header {
    position: fixed;
    top:0;
    z-index: 1;
    width: 100%;
    height: 70px;
    background-color: $color1;
    padding: 0 16px;
    overflow: hidden;
    line-height: 70px;

    &__hmny {
        font-family: $logo-font-family;
        text-transform: lowercase;
        font-weight: bold;
        font-size: $large-font;
    }
    &__a {
        color: $color2;
        text-decoration: none;
        display: block;
        float: left;
        padding: 0 16px;
        height: 100%; 


    }
}
.rightnav {
    float: right;
    text-align: center;

}
.main {
    margin: 100px auto;
    padding: 16px;
    max-width: 1250px;

    &__grid {
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(200px,1fr));
        justify-items: center;
        grid-gap: 50px;  
    }

    &__item {
        background-color: green;
        height: 200px;
        width: 200px;
    }

}

.player {
    overflow: hidden;
    background-color: $color1;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;

    &__div {
        position: relative;
        text-align: center;
        width: 100%;
        margin: auto;
        
    }
    &__a {
        display: inline-block;
        color: $color2;
        text-align: center;
        line-height: 60px;
        text-decoration: none;
        padding: 0 14px;
    }

    &__a:hover {
        background-color: #ddd;
        color: $color2;
    }
}