@import 'styleguide';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    font-family: 'Roboto', sans-serif;
    font-size: $small-font;
    background-color: $color2;  
}
.header {
    color: $color2;
    position: fixed;
    top:0;
    z-index: 1;
    width: 100%;
    height: 70px;
    background-color: $color1;
    padding: 0 16px;
    overflow: hidden;
    line-height: 70px;

    &__hmny {
        font-family: $logo-font-family;
        font-weight: bold;
        font-size: $large-font;
        text-transform: lowercase;
    }
    &__a {
        color: $color2;
        text-decoration: none;
        display: block;
        float: left;
        padding: 0 16px;
        height: 100%; 


    }
}
.rightnav {
    float: right;
    text-align: center;

}
.main {
    margin: 100px auto;
    padding: 16px;
    max-width: 1250px;

    &__message {
        color: $color1;
        font-size: $large-font;
        max-width: 500px;
        margin: auto;
        padding: inherit;
    }
    &__welcome {
        font-size: 40px;
    }
    &__hmny {
        font-family: $logo-font-family;
        color: yellow;
        font-weight: bold;
        text-transform: lowercase;

    }
    &__icons {
        display: flex;
        justify-content: center;
        i {
            padding: 15px;
        }
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(200px,1fr));
        justify-items: center;
        grid-gap: 50px;  
    }

    &__item {
        background-color: green;
        height: 200px;
        width: 200px;
    }

}

.playlist {
    display: flex;
    // background-color: blue;
    color: white;

    &__column1 {
        flex-basis: 70%;

    }
    &__data {
        background-color: purple;
        padding: 0 10px;
    }

    &__column2 {
        flex-basis: 30%;

    }

    &__albumart {
        width: 250px;
        height: 250px;

    }

}

.player {
    overflow: hidden;
    background-color: $color1;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;

    &__div {
        position: relative;
        text-align: center;
        width: 100%;
        margin: auto;
    }

    &__slider {
        -webkit-appearance: none;
        width: 100%;
        height: 10px;
        border-radius: 5px;   
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }
    
    &__slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        border-radius: 50%; 
        background: $color2;
        cursor: pointer;
    }
    &__slider::-moz-range-thumb {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: $color2;
        cursor: pointer;
    }

    &__button {
        display: inline-block;
        color: $color2;
        text-align: center;
        line-height: 60px;
        text-decoration: none;
        padding: 0 14px;
    }

    &__button--hover:hover {
        background-color: $hoverColor;
        color: $color2;
    }

    &__button--volume {
        opacity: 0.5;
        width: 40px;
    }
}