@mixin gradient($time) {
      // Gradient Animator
  // https://www.gradient-animator.com/
  background: linear-gradient(30deg,#403a3e,
  #BE5869);
  background-size: 880% 80%;
  
  -webkit-animation: gradient $time ease infinite;
  -moz-animation: gradient $time ease infinite;
  animation: gradient $time ease infinite;
  
  @-webkit-keyframes gradient {
      0%{background-position:20% 0%}
      50%{background-position:81% 100%}
      100%{background-position:20% 0%}
  }
  @-moz-keyframes gradient {
      0%{background-position:20% 0%}
      50%{background-position:81% 100%}
      100%{background-position:20% 0%}
  }
  @keyframes gradient { 
      0%{background-position:20% 0%}
      50%{background-position:81% 100%}
      100%{background-position:20% 0%}
  }
  

}