@mixin gradient($time) {
      // Gradient Animator
  // https://www.gradient-animator.com/
  background: linear-gradient(286deg, rgba(0, 67, 70, 0.9), rgba(23, 42, 58, 1), rgba(80, 137, 145, 0.7));
  background-size: 880% 80%;
  
  -webkit-animation: gradient $time ease infinite;
  -moz-animation: gradient $time ease infinite;
  animation: gradient $time ease infinite;
  
  @-webkit-keyframes gradient {
      0%{background-position:20% 0%}
      50%{background-position:81% 100%}
      100%{background-position:20% 0%}
  }
  @-moz-keyframes gradient {
      0%{background-position:20% 0%}
      50%{background-position:81% 100%}
      100%{background-position:20% 0%}
  }
  @keyframes gradient { 
      0%{background-position:20% 0%}
      50%{background-position:81% 100%}
      100%{background-position:20% 0%}
  }
  

}