// Google Fonts

$large-font: 32px;
$medium-font: 28px;
$small-font: 17px;
$mobile-font: 12px;
$logo-font-family: "Righteous", "Open Sans";
$content-font-family: Helvetica, Arial;
$color1: white;
$color2: black;
$color3: #A9A9A9;
$playlist-background-color: #BE5869;
$hover-color: #BE5869;
