// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Righteous|Roboto');

$large-font: 32px;
$medium-font: 28px;
$small-font: 17px;
$logo-font-family: "Righteous", cursive;
$color1: white;
$color2: black;
$color3: #A9A9A9;
$playlist-background-color: #2F4F4F;
$hover-color: #ddd;
